*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(1, 19, 1);
}
.navbardiv{
    background-color: rgb(1, 19, 1);
    width:100%;
    height: max-content;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content:flex-end;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 1px white;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top:6px;
}

.mainstyle{
    margin-top: 10px;
    padding-left:10px;
}
.navbarul{
    display: flex;
    gap: 90px;
    list-style-type:none ;
    padding-right: 10px;
    /* cursor: pointer; */
    margin-top:13px;
    margin-left: auto;
    justify-content: flex-end;
}

.btnforcrt{
    background-color: rgb(79, 79, 240);
    border: none;
    color: white;
    padding: 10px;
    /* margin-left:40px; */
    margin-top:3px;
    border-radius: 10px;
    margin-right:55px;
    cursor: pointer;
}
.btnforcrt:hover{
    background-color: rgba(79, 79, 240, 0.658);
}
.indexbox{
    text-align: center;
    width:100%;
    height: auto;
    color:white;
    padding-top:200px;
}
.indexa{
    text-decoration: none;
    color: #6e6e6e;
}
.indexa:hover{
    color: #ffffff;
    text-decoration: underline;
}
.indexforlogo{
    /* padding-top:100px; */
    background-color: rgb(1, 19, 1);
    list-style-type: none;
}
.indexbtnfusion{
    margin-top: 60px;
    background-color: rgb(79, 79, 240);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: large;
}

.indexbtnfusion:hover{
    background-color: rgba(79, 79, 240, 0.658);
}
.sidebar{
    position:fixed ;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: black;
    box-shadow:0 0 4px #ffffff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 0px;
    padding-left:20px;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
@media(max-width :1233px){
    .hideonmobile{
        display: none;
    }
}
@media(max-width:446px) {
    .hideonmobile{
      width:1000vh;
    }
}
@media(min-width :1233px){
    .hideonmobile1{
        display: none;
    }
}
